/* .button {
  border: none;
}

.button:hover {
  background-color: var(--color-secondary);
} */


.button {
  background-color: var(--CosmicVibe);
  color: var(--TechGlow);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--font-family);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
  background-color: var(--AlienPop);
  box-shadow: 0 0 10px var(--PortalGlow);
}

.button--prev,
.button--next {
  font-size: 1rem;
}