/* .card-container {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 20px auto;
  justify-content: center;
}

.card {
  width: 300px;
  background-color: var(--color-secondary);
  border-radius: 10px;
  overflow: hidden;
}

.card__info {
  display: grid;
  grid-template-columns: auto 1fr;
}

.card__info > * {
  border-bottom: 1px solid #b2b2b2;
  padding: 15px 0 5px;
}

.card__content {
  padding: 10px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__info-description {
  text-align: right;
}

/* li {
  list-style: none;
}  */

.card {
  background-color: var(--SpaceVoid);
  border: 2px solid var(--PortalGlow);
  border-radius: 10px;
  width: 300px;
  height: 550px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* line-height: 2rem; */
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px var(--PortalGlow), 0 0 25px var(--CosmicVibe);
}

.card__image {
  width: 100%;
  height: auto;
}

.card__content {
  padding: 1rem;
}

.card__title {
  color: var(--MortyShirt); 
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.card__info {
  color: var(--TechGlow);
}

.card__info-title {
  font-weight: bold;
  color: var(--RickHair); 
}

.card__info-description {
  margin-bottom: 0.5rem;
}